.mypar {
    margin-top: 2em;
    text-align: justify;
    text-justify: inter-word;
}

/* ===== MODELLING ========*/ 
#intromodel {
    background-image: linear-gradient(rgba(255, 255, 255, .65), rgba(255, 255, 255, .65)), url('../assets/img/covermodel.jpg');
    background-size: auto;
}

#cqtaut {
    margin-top: 1.5em;
    display: none;
    line-height: 1.7em;
}

#cqgrop {
    margin-top: 1.5em;
    display: none;
    line-height: 1.7em;
}

#cqcomp {
    margin-top: 1.5em;
    display: none;
    line-height: 1.7em;
}

#TautTTL {
    display: none;
}

#TautGraph {
    display: none;
}

.toggleOntology:hover {
    color: #f4623a;
}

/* ==== ALIGNMENT ===== */

#introalign {
    background-image: linear-gradient(rgba(255, 255, 255, .65), rgba(255, 255, 255, 0.8)), url('../assets/img/coveralign.jpg');
    background-size: auto;
}